<p-button severity="info" (click)="showDialog()" label="Reset User Password" />
<p-dialog
  header="Reset User Password"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <div class="flex flex-col gap-4 mb-4">
    <div class="flex flex-col gap-2">
      <label for="password" class="font-semibold">New Password</label>
      <input
        [(ngModel)]="password"
        type="password"
        pInputText
        id="password"
        class="w-full"
        autocomplete="off"
        placeholder="Enter new password"
      />
    </div>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible.set(false)" />
    <p-button label="Reset Password" severity="danger" (click)="resetPassword()" />
  </div>
</p-dialog>
